  <html>
  <head>
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
  <h1>{{restaurant.name}}</h1>
    <a href='{{url_for('newMenuItem', restaurant_id = restaurant.id)}}'>Create new menu item</a>


    <!--MESSAGE FLASHING -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    {% for i in items %}
    <div>

      <p>{{i.name}}</p>

      <p>{{i.description}}</p>

      <p>{{i.price}}</p>

      <p>{{creator.name}}</p>
      <img src={{creator.picture}} alt="Italian Trulli">

    </br>
    </div>

    {% endfor %}
  </body>
</html>
